/* Reset y tipografía */
body {
    margin: 0;
    padding: 0;
    background:#e8ebf0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Hoja A4 */
.hoja {
    width: 210 mm;
    min-height: 297 mm;
    background: #fffaf0;
    margin: 30 px auto;
    padding: 25 mm 20 mm;
    box-shadow: 0 0 10 px rgba (0, 0, 0, 0.2);
    box-sizing: border-box;
}

/* Encabezado */
h1 {
    margin: 0;
    font-size: 32 px;
}

h2 {
    margin: 0;
    font-size: 14 px;
    letter-spacing: 2 px;
    color: #555;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* Para pantalla pequeña */
    border-bottom: 2 px solid black;
    padding-bottom: 10 px;
    margin-bottom: 20 px;
}

address {
    font-size: 12 px;
    text-align: right;
    line-height: 1.6;
}

address a {
    color: #1a73e8;
    /* color del enlace */
    text-decoration: none;
    /* quita el subrayado */
    font-weight: bold;
    transition: color 0.3 s;
}

address a:hover {
    color: #0b4da0;
    /* color al pasar el mouse */
}

section {
    display: grid;
    grid-template-columns: 22 % 1 fr;
    margin-bottom: 18 px;
    gap: 15 px;
}

@media (max-width: 800 px) {
    section {
        grid-template-columns: 1 fr;
    }
}

.titulo {
    font-weight: bold;
    font-size: 13 px;
    border-top: 2 px solid black;
    margin: 0;
    padding-top: 6 px;
}

.contenido {
    font-size: 13 px;
    line-height: 1.6;
}

/* Listas */
ul {
    padding-left: 1.2 em;
    margin: 5 px 0;
}

li {
    list-style: none;
    position: relative;
    margin-bottom: 6 px;
    padding-left: 16 px;
}

li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 6 px;
    width: 8 px;
    height: 8 px;
    background-color: #2c3e50;
    border-radius: 50 %;
}


.puesto {
    font-weight: bold;
}

.empresa {
    font-style: italic;
    font-size: 12 px;
    color: #444;
}

@media print {
    body {
        background: white;
    }

    .hoja {
        box-shadow: none;
        margin: 0;
        width: 210 mm;
        min-height: 297 mm;
        padding: 25 mm 20 mm;
    }

    .header {
        flex-wrap: nowrap;
    }

}


